div{
    width:200px;
    height:200px;
}
.top-container{
    background-color: blue;
    color: white;
    border: black solid 10px;
    padding: 20px;
}
.mid-container{
    background-color: red;
    border: black solid 20px;
    margin-left: 260px;

}
.bot-container{
    background-color: yellow;
    border: black solid 10px;
    margin-left: 500px;
}